<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PgoHttpTest -->
      <package
            uri="platform:/plugin/no.hal.pgo.http.test"
            class="pgohttpestest.PgohttpestestPackage"
            genModel="src/no/hal/pgo/http/tests/PgoHttpTest.genmodel"/>
   </extension>

</plugin>
